/* padding for top navbar */

body { padding-top: 50px; }

/* sidebar stuff */
.fixed {
    position:fixed;
    /* make it scrollable */
    top: 60px;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;

}

/* sidebar */
.docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
    border-left: 2px solid transparent;
}

/* nested links */
.docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* spy */

/* active & hover links */

.docs-sidebar .nav>.active>a, 
.docs-sidebar .nav>li>a:hover, 
.docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left: 2px solid #563d7c; 
}

/* all active links */
.nav li.active a,
.docs-sidebar .nav>.active>a, 
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.docs-sidebar .nav .nav>.active>a, 
.docs-sidebar .nav .nav>.active:hover>a,
.docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.docs-sidebar .nav>.active>ul.nav {
    display: block;           
}


 /* position under the navbar */
.group {
    padding-top: 60px;
    margin-top: -60px;
}

@media screen and (max-width: 500px){
    .docs-sidebar {
        display:none
    }
}

h3, h4, h5, h6 {
    color: #999;
}

h2 {
    border-bottom: 1px solid #eee;
}


/*
.box{
    margin: 20px; padding: 15px;
    background: #eee;
    height: 500px;
}
#navbar{
    position: fixed;
    bottom: 0; left: 20px;
    width: 100%;
    background: #fff;
}
.nav li a{
    float: left;
    width: 80px;
    padding: 15px 0;
}
.nav li a:hover{
    color: #f33 !important;
    background: none;
}
    color: #f55;
    text-decoration: underline;
}

*/